.btn-purple {
  background-color: #3b49df;
  color: #ffffff;
  border-radius: 0.375rem;
  padding: 8px 16px;
}

/* SASS de Vryahn dont touch */
.btn-vryahn {
  color: black;
  border-radius: 0.375rem;
  font-size: 1rem;
  height: auto;
  padding: 8px 16px;
  font-family: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: start;
  margin: 0;
}

.btn-vryahn:hover {
  color: #3b49df;
  border-radius: 0.375rem;
  font-size: 1rem;
  height: auto;
  padding: 8px 16px;
  font-family: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: start;
  margin: 0;
}

.new-vryahn {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  font-size: smaller;
  color: white;
  background-color: #3b49df;
  width: 30px;
  height: 20px;
}

.btn-title-vryahn {
  color: black;
  border-radius: 0.375rem;
  font-size: 1.3rem;
  height: auto;
  font-family: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: start;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.btn-title-vryahn:hover {
  color: #3b49df;
  border-radius: 0.375rem;
  font-size: 1.3rem;
  height: auto;
  font-family: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: start;
  margin: 0;
  padding: 0;
}

.sinbutton-title-vryahn {
  color: black;
  border-radius: 0.375rem;
  font-size: 1.3rem;
  height: auto;
  font-family: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: start;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

/* Aqui termina el SASS de Vryahn, haz lo que quieras a partir de aca :P*/
.btn-purple:hover {
  background-color: #323ebe;
  color: #ffffff;
}

.purple-hover:hover {
  color: #3b49df;
}

.menu-mobile {
  border: none;
}

.user-date {
  font-size: 0.8rem;
}

#inputSearch {
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#inputSearch button {
  font-size: 24px;
}

main ul {
  padding: 0;
}

main ul li {
  list-style: none;
  padding-right: 1rem;
}

.left_aside_section .aside_column {
  width: 23.5%;
}

.left_aside_section .aside_cont {
  width: 74.5%;
  margin-right: 0;
}

.post-container {
  padding-left: 0;
  padding-right: 0;
}

.image-post-header {
  width: 100%;
  border-radius: 6px 6px 0 0;
}

.principal-container {
  margin-top: 66px;
}

.margin-header-fix {
  margin-top: 80px;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

h4 {
  font-weight: 900;
  font-size: 1.1rem;
}

.link-purple {
  color: #3b49df;
}

.tex-yellow {
  background-color: yellow;
  overflow-wrap: break-word;
}

footer {
  background-color: #d6d6d7;
}

.bg-readnext {
  background-color: #f9f9f9;
}

.fixed-aside-left {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  z-index: 1020;
}

.fixed-aside-right {
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  z-index: 1020;
}

.badge-user {
  position: relative;
  bottom: -12px;
  z-index: 1;
  right: 16px;
}

.btn-likes:hover {
  background-color: rgba(220, 24, 24, 0.1);
  border-radius: 50%;
  fill: #d31616;
}

.btn-unicornio:hover {
  background-color: rgba(38, 217, 202, 0.1);
  border-radius: 50%;
  fill: #26d9ca;
}

.btn-comments:hover {
  background-color: rgba(59, 73, 223, 0.1);
  border-radius: 50%;
  fill: #3b49df;
}

.hover-white:hover {
  background-color: #ffffff;
  color: #3b49df;
}

.hover-gray:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: #090909;
}

@media screen and (min-width: 768px) {
  #inputSearch {
    width: 420px;
  }
  #inputSearch button {
    position: relative;
    left: -48px;
  }
}
/*# sourceMappingURL=styles.css.map */