$dev-purple: #3b49df;
$dev-purple-hover: #323ebe;
$dev-white: #ffffff;
$dev-radius: 0.375rem;
$dev-font: -apple-system, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.btn-purple {
  background-color: $dev-purple;
  color: $dev-white;
  border-radius: $dev-radius;
  height: 2.5rem;
  padding: 8px 16px;
  font-family: $dev-font;
}
.btn-purple:hover {
  background-color: $dev-purple-hover;
  color: $dev-white;
}
.purple-hover {
  &:hover {
    color: $dev-purple;
  }
}
.menu-mobile {
  border: none;
}
.user-date {
  font-size: 0.8rem;
}
#inputSearch {
  height: 40px;
  align-items: center;

  button {
    font-size: 24px;
  }
}
main {
  ul {
    padding: 0;

    li {
      list-style: none;
      padding-right: 1rem;
    }
  }
}

//Estilos de page Post
.post-container {
  padding-left: 0;
  padding-right: 0;
}
.image-post-header {
  width: 100%;
  border-radius: 6px 6px 0 0;
}
.principal-container {
  margin-top: 66px;
}
.margin-header-fix {
  margin-top: 66px;
}
h1 {
  font-size: 2rem;
}
h4 {
  font-weight: 900;
  font-size: 1.1rem;
}
.link-purple {
  color: $dev-purple;
}
.tex-yellow {
  background-color: yellow;
  overflow-wrap: break-word;
}
footer {
  background-color: #d6d6d7;
}
.bg-readnext {
  background-color: #f9f9f9;
}

.fixed-aside-left {
  position: sticky;
  top: 120px;
  z-index: 1020;
}
.fixed-aside-right {
  position: sticky;
  top: 80px;
  z-index: 1020;
}
//Media Queries home

@media screen and (min-width: 768px) {
  #inputSearch {
    width: 420px;

    button {
      position: relative;
      left: -48px;
    }
  }
  .margin-header-fix {
    margin-top: 80px;
  }

  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}
